
.st-anime-card {
    @apply h-fit relative;
  }
  
  .st-anime-card-image {
    box-shadow: 25px 20px 100px 0px #000000;
    @apply w-full h-[300px] sm:max-w-[220px] sm:h-[320px] text-xs;
    /* @apply w-[200px] h-[320px] text-xs; */
  }
  
  .st-anime-card-detail {
    /* @apply rounded-r-xl w-[240px] text-[0.58rem] bg-[#230149] text-white py-2 px-4; */
    @apply absolute bottom-0 rounded-none bg-opacity-70 w-full left-0 sm:static sm:rounded-r-xl sm:max-w-[240px] text-[0.7rem] sm:bg-[#230149] text-white py-2 px-4;
    height: 70px;
    line-height: 15px; /* Height / no. of lines to display */
    overflow: hidden;
    /* @apply rounded-r-xl w-[230px] text-[0.60rem] bg-[#230149] text-white py-2 px-4 h-full; */
  }



  .anime-card {
    @apply max-w-[625px] h-[320px] flex relative bg-black/40 backdrop-blur-sm sm:rounded-none rounded-br-3xl shadow-xl shadow-black 
    min-w-[380px]
    md:min-w-[625px]
    md:min-h-fit;
  }
  
  .anime-tag {
    @apply p-2 z-10 bg-white text-black absolute -top-3 -left-3 font-semibold rounded-br-[60px] rounded-lg w-[250px];
  }
  
  .anime-card-detail {
    @apply sm:flex-1 relative text-white pt-10 pb-6 pl-6 flex flex-col justify-between;
  }
  
  .anime-card-detail h3{
    @apply min-h-fit max-h-[102px];
    /* line-height: 25px; Height / no. of lines to display */
    overflow: hidden;
  }
  
  .anime-card-img {
    @apply sm:block hidden sm:basis-[38%];
    /* -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); */
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }
  