/* https://www.behance.net/gallery/173338529/Anistream-(Anime-Streaming-Website-Design)?tracking_source=search_projects|anime+website+streaming&l=7 */
@import "~@flaticon/flaticon-uicons/css/all/all";
/* CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #ffffff;
  --secondary-text: #230149;
  --primary-color: #4f0055;
  --secondary-color: #6200cf;
  /* --body-color: #230149; */
  /* --body-color: #4f0055; */
  --body-color: #2c004b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all;
}

body {
  @apply bg-[#230149] transition-all min-[1100px]:px-40;
}

body {
  @apply flex min-h-screen flex-col;
}

.fixed-nav {
  @apply fixed left-0 top-0 z-50 w-full px-60;
}

.fixed-nav-space {
  @apply h-[106px];
}

body::-webkit-scrollbar {
  @apply h-0 w-0;
}

/* main:first-child::before{
  @apply h-[106px] border;
} */

.custom-scrollbar::-webkit-scrollbar {
  @apply h-1 w-1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-600;
}
.no-scrollbar::-webkit-scrollbar {
  @apply h-0 w-0;
}

section {
  @apply gbg relative;
}

.fi {
  @apply flex flex-col;
}

.my-container {
  @apply relative px-2 sm:px-12 md:px-20;
}

.nav-link-selected::before {
  content: "";
  @apply absolute -bottom-2 left-0 h-[3px] w-full bg-current;
}

.nav-link-selected {
  @apply relative;
}

.nav-link::before {
  content: "";
  @apply absolute -bottom-2 left-0 h-0 w-full bg-current transition-all;
}

.nav-link {
  @apply relative;
}

.nav-link:hover.nav-link::before {
  @apply h-[3px];
}

.anime-card {
  @apply relative flex h-[320px] w-[90vw] max-w-[625px] rounded-br-3xl bg-black/40 shadow-xl shadow-black backdrop-blur-sm 
  sm:min-w-[380px]
  sm:rounded-none
  md:min-h-fit
  md:min-w-[625px];
}

.anime-tag {
  @apply absolute -left-3 -top-3 z-10 w-[250px] rounded-lg rounded-br-[60px] bg-white p-2 font-semibold text-black;
}

.anime-card-detail {
  @apply relative flex flex-col justify-between px-2 pb-6 pl-4 pt-10 text-left text-white sm:flex-1 sm:pl-6;
}

.anime-card-detail h3 {
  @apply max-h-[102px] min-h-fit text-left;
  overflow: hidden;
}

.anime-card-img {
  @apply hidden sm:block sm:basis-[38%];
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.half-anime-card {
  @apply bg-shadow relative flex h-[320px] w-[380px] min-w-[380px] rounded-br-3xl bg-[#000000]/50 backdrop-blur-sm;
}

.half-anime-card-detail {
  @apply relative flex flex-col justify-between py-10 pb-6 pl-6 text-white;
}

.play-now-card {
  @apply bg-shadow relative flex h-[380px] max-w-[720px] rounded-br-3xl bg-black/40 backdrop-blur-sm sm:rounded-none
  md:min-w-[720px];
}

.play-now-card-detail {
  @apply relative flex flex-col justify-between pb-4 sm:pb-6 pl-4 sm:pl-8 pt-6 sm:pt-10 text-white sm:flex-1;
}

.play-now-card-img {
  @apply hidden sm:block sm:basis-[38%];
  /* -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.st-anime-card {
  @apply relative h-fit;
}

.st-anime-card-image {
  box-shadow: 25px 20px 100px 0px #000000;
  @apply h-[300px] w-full text-xs sm:h-[320px] sm:w-[220px];
  /* @apply w-[200px] h-[320px] text-xs; */
}

.st-anime-card-detail {
  @apply absolute bottom-0 left-0 w-full rounded-none bg-[#230149] bg-opacity-70 px-4 py-2 text-left text-[0.7rem] text-white sm:static sm:max-w-[240px] sm:rounded-r-xl sm:bg-opacity-100;
  height: 70px;
  line-height: 15px; /* Height / no. of lines to display */
  overflow: hidden;
}

.video-card {
  @apply bg-shadow relative flex h-auto max-w-[720px] flex-col items-center justify-center rounded-br-3xl bg-black/40 backdrop-blur-sm sm:rounded-none
  md:min-w-[720px];
}

.bg-shadow {
  @apply shadow-2xl shadow-black/50;
}

#search-box {
  @apply gradient-bg h-fit max-w-fit flex-1 overflow-hidden rounded-xl text-white;
}

.gradient-bg {
  background: rgb(79, 0, 85);
  background: linear-gradient(
    90deg,
    rgba(79, 0, 85, 0.8) 0%,
    rgba(98, 0, 207, 0.49576327112876406) 50%,
    rgba(35, 1, 73, 1) 100%
  );
}

.filter-btn {
  @apply hover:bg-cyan-400 hover:text-white;
}

#genre a {
  @apply rounded-lg px-2 py-1 transition-all hover:bg-[#6200cf] hover:text-white;
}

.btn {
  @apply rounded-xl p-4 text-center transition-all sm:w-[200px] sm:min-w-fit sm:p-6;
}

.btn-primary {
  @apply bg-[#6200cf] hover:bg-[#6200cf]/90;
}

.btn-secondary {
  @apply bg-[#ffffff] text-black hover:bg-[#ffffff]/90;
}

.btn-sm {
  @apply w-fit rounded-xl px-4 py-2 text-center transition-all;
}

.btn-primary-sm {
  @apply bg-[#6200cf] text-white hover:bg-[#6200cf]/80;
}

.btn-secondary-sm {
  @apply bg-[#ffffff] text-black hover:bg-[#fff]/80;
}

.gbg::before {
  content: "";
  @apply absolute left-0 top-0 -z-10 flex h-full w-full flex-col;
}

.gbg::before::before {
  content: "";
  @apply h-full w-full basis-1/2 bg-[#1d0840];
}
.gbg::before::after {
  content: "";
  @apply gradient-bg h-full w-full basis-1/2 py-10;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.bounceH {
  @apply transition-all;
  animation: bounceH 2s linear 5;
}

@keyframes bounceH {
  0% {
    @apply translate-x-0;
  }
  100% {
    @apply -translate-x-2;
  }
}
